<table class="table table-striped">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-user"></span></th>
            <th>payé</th>
            <th>emprunté</th>
            <th>Balance</th>
            <th>Virements</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for('getUser', email=user.email) }}">
                {% if user.firstname != "inconnu(e)" %}{{ user.firstname }}
                    {% else %}{{ user.email }}
                {% endif %}
            </a></td>
            <td>
                {% if user.given_money == 0 %}
                    --
                {% else %}
                    {{ (user.given_money, '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            <td>
                {% if user.borrowed_money == 0 %}
                    --
                {% else %}
                    {{ (user.borrowed_money, '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            {% set balance = (user.given_money - user.borrowed_money) %}
            <td
                style=
                    {% if balance < 0 %}"color: red">
                    {% else %}"color: green">
                    {% endif %}

                {% if balance == 0 %}
                    --
                {% else %}
                    {{ (balance, '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            <td>{% if user != g.user %}<a><span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-new-window"></span></a><!-- pay back this user -->{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>