<table class="table table-striped">
    <thead>
        <tr>
            <th>glyph user</th>
            <th>A payé</th>
            <th>Doit</th>
            <th>Balance</th>
            <th><!-- pay back this user --></th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for('getUser', email=user.email) }}">
                {% if user.firstname != "inconnu(e)" %}{{ user.firstname }}
                    {% else %}{{ user.email }}
                {% endif %}
            </a></td>
            <td>
                {% if user.given_money == 0 %}
                    --
                {% else %}
                    {{ user.given_money|replace(".", ",")|replace(",0", "") }} €
                {% endif %}
            </td>
            <td>
                {% if user.borrowed_money == 0 %}
                    --
                {% else %}
                    {{ user.borrowed_money|replace(".", ",")|replace(",0", "") }} €
                {% endif %}
            </td>
            {% set balance = (user.given_money - user.borrowed_money) %}
            <td
                style=
                    {% if balance < 0 %}"color: red">
                    {% else %}"color: green">
                    {% endif %}

                {% if balance == 0 %}
                    --
                {% else %}
                    {{ balance|replace(".", ",")|replace(",0", "") }} €
                {% endif %}
            </td>
            <td>{% if user != g.user %}<a>virement</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>