<table class="table table-striped">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-user"></span></th>
            <th>payé</th>
{#            <th>emprunté</th>#}
            <th>Balance</th>
            <th>Virements</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for('getUser', email=user.email) }}">
                {% if user.firstname != "inconnu(e)" %}{{ user.firstname }}
                    {% else %}{{ user.email }}
                {% endif %}
            </a></td>
            <td>
                {% if users_given_money[user.id] == 0 %}
                    --
                {% else %}
                    {{ (users_given_money[user.id], '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            {#
            <td>
                {% if users_borrowed_money[user.id] == 0 %}
                    --
                {% else %}
                    {{ (users_borrowed_money[user.id], '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            #}
            <td
                style=
                    {% if users_balances[user.id] < 0 %}"color: red">
                    {% else %}"color: green">
                    {% endif %}

                {% if users_balances[user.id] == 0 %}
                    --
                {% else %}
                    {{ (users_balances[user.id], '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
                {% endif %}
            </td>
            <td>{% if user != g.user %}<a><span class="glyphicon glyphicon-usd"></span><span class="glyphicon glyphicon-new-window"></span></a><!-- pay back this user -->{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
