<div style="margin-bottom: 3px">
    <a href="{{ url_for('comptes', spends_page='ajoutDepense') }}"
        class="btn btn-default small"
        style="font-size: 10pt"
        type="button"
        title="ajouter une dépense"
    >
        <em class="glyphicon glyphicon-plus"></em> ajouter une dépense
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th><th>Catégorie</th><th>Objet</th><th>Montant</th><th>Payeur</th><th>Ma part</th><!-- <th>modifier dépense</th> --><th><!-- supprimer dépense --></th><th><!-- modifier dépense répétée si type = 'repeated' --></th>
        </tr>
    </thead>
    <tbody>
    {% for depense in spendings %}
        <tr>
            <td>{{ times[depense.id] }}</td>
            <td>{{ depense.s_type }}</td> 
            <td>{{ depense.label }}</td>
            <td>{{ (depense.total, '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}</td>
            <td>
                {% if depense.payer_id == g.user.id %}
                    Moi
                {% else %}
                    {{ payers[depense.id] }}
                {% endif %}
            </td>
                
            <td>{% if my_parts[depense.id] == 0 %}--
            {% else %}
            {{ (my_parts[depense.id], '€')|join(' ')|replace(".", ",")|replace(',0 ', ' ') }}
            {% endif %}
            </td>
            {# ToDo
            <td><a href="{{ url_for('comptes', spends_page=session['spends_page']) }}"><em class="glyphicon glyphicon-pencil"></em></a></td>
            #}
            <td><a href="{{ url_for('comptes', spends_page='spendingdel_'+depense.id|string) }}"><em class="glyphicon glyphicon-remove"></em></a></td>
        {% if depense.type == 'repeated' %}
            <td><a href="{{ url_for('comptes', spends_page=session['spends_page']) }}"><em class="glyphicon glyphicon-hourglass"></em></a></td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>