body {
    /*    margin: 2em auto;*/
    margin: 0 0;
    padding: 0;
    font-family: serif;
    font-size: 10pt;
    text-align: left;
}
.main {
    margin: 0 0 10% 0;
}
#background {
    z-index: -1;
    position: fixed;
    background: linear-gradient(to bottom, #ffffff, #c4c4c4);
    width: 100%;
    height: 100%;
}



/* for the top-left login corner */
.navbar-fixed-top {
    padding: 5px 0px 0 5px;
    border: 1px solid #A4A9A4;
    border-radius: 0px 0px 15px;
    background-color: #ededed;  
    min-height: 33px;
    width: 105px;
}
a {
    color: inherit;
    text-decoration: underline;
}
.navbar-fixed-top b a {
    text-decoration: none;
}
.btn {
    text-decoration: inherit;
}




/* FOR THE MENU */
.menu-group {
    margin-bottom: 40px;
}
.menu {
    background-color: lightgrey;
    margin-top: 3%;
    padding: 1px 0 10px 0;
    border-radius: 15px;

    /*height: 800px;*/
}
.menu h1 {
    text-align: center;
    color: grey;
    font-size: 28pt;

}
.menu h1 span {
    position: absolute;
    left: 0;
    bottom: 0;
}
.menu h1 a {
    font-family: "League Gothic Italic";
}
.menu h1 > a:hover, h1 > a:visited, h1 > a:link, h1 > a:active {
    color: inherit;
    text-decoration: none;
}
.menu ul > a:hover, ul > a:visited, ul > a:link, ul > a:active {
    color: inherit;
    text-decoration: none;
}
.menu-background {
    display: block;
    padding: 4px 0px 0px 17px;
    height: 240px;
    margin: 0px 0px 23px;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;

}
#panda {
    font-family: 'Courier New';
    font-size: 2pt;
    font-weight: bold;
    float: left;
    border: none;
    
}

.menu-list {
    position: relative;
    margin: 10px 75px 0 auto;
    width: 300px;
    line-height: 35px;
}
.menu-list li {
    display: block;
    margin: 8px;
    
    border-radius: 15px 15px 15px 15px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    background-color: lightgrey;
    color: #837d7d;
}
.menu-list a:hover {
    opacity: .7;
}



/* for tables */
.table-striped {
    background-color: #cfc7d1;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #d6d6d6;
}



/* for the content */
h5 {
    color: grey;
}
.content{
    background-color: #98F3AA;
    margin-left: 3%;
    padding: 0 0 50px 3%;
    border-radius: 15px 30px 15px 30px;
}
.col-md-5 {
    text-align: right;
}



/* for the forms */
.col-md-4 .form-group{
    margin-bottom: 30px;
}
.col-md-4 .form-group a {
    text-decoration: inherit;
}
.col-md-4 .form-group a:hover {
    background-color: #98F3AA;
}



/* for the footer */
footer.plein {
    position: fixed;
    right: 5%;
    z-index: -1;
    text-align: center;
    bottom: 0;
    width: auto;
    padding: 3px 7px;
    border: 1px solid #a4a9a4;
    border-radius: 15px 15px 0 0;
    background-color: #ededed;
}
footer.plein span {
    color: #E74C3C;
    font-style: normal;
}


/* for errors */
.m_errors {
    margin-top: 20px;
    .opacity: .7;
}
.m_errors ul {
    list-style-type: none;
}
.m_errors li {
    color: #d31f1f;
    text-align: center;
    padding: 3px;
    margin: 15px 0;
    border: 1px solid #a4a9a4;
    background-color: #dadada;
}

/* for UNKNOWN */
.glyphicon-triangle-right {
    font-size: .6em;
}

-autocomplete {
    opacity: .9;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    color: black;
}
a.ui-state-focus {
    background-color: grey;
}
ui-autocomplete-input{
    border-radius: 15px 70px 15px 70px;
    background-color: red;
}
