body {
    /*    margin: 2em auto;*/
    margin: 0 5%;
    font-family: serif;
    font-size: 10pt;
    text-align: left;
}
.main {
    margin-bottom: 60px;
}

.navbar-fixed-top {
    padding-top: 5px;
    padding-left: 10px;
    
}




/* FOR THE MENU */
.menu {
    background-color: lightgrey;
    margin-top: 3%;
    margin-left: 1.5%;
    padding: 1px 0 10px 0;
    border-radius: 15px;

    /*height: 800px;*/
}
.menu h1 {
    text-align: center;
    color: grey;
    font-size: 28pt;

}
.menu h1 span {
    position: absolute;
    left: 0;
    bottom: 0;
}
.menu h1 a {
    font-family: "League Gothic Italic";
}
.menu h1 > a:hover, h1 > a:visited, h1 > a:link, h1 > a:active {
    color: inherit;
    text-decoration: none;
}
.menu ul > a:hover, ul > a:visited, ul > a:link, ul > a:active {
    color: inherit;
    text-decoration: none;
}
.menu-background {
    display: block;
    padding: 4px 0px 0px 17px;
    height: 240px;
    margin: 0px 0px 23px;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;

}
#panda {
    font-family: 'Courier New';
    font-size: 2pt;
    font-weight: bold;
    float: left;
    border: none;
    
}

.menu-list {
    position: relative;
    margin: 10px 75px 0 auto;
    width: 300px;
    line-height: 35px;
}
.menu-list li {
    display: block;
    margin: 8px;
    
    border-radius: 15px 15px 15px 15px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    background-color: lightgrey;
    color: #837d7d;
}
.menu-list a:hover {
    opacity: .7;
}




/* for tables */
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #d6d6d6;
}




/* for H5s */
h5 {
    color: grey;
}
.content{
    background-color: #98F3AA;
    padding: 3%;
    border-radius: 15px 30px 15px 30px;
}
.col-md-5 {
    text-align: right;
}


.glyphicon-triangle-right {
    font-size: .6em;
}

-autocomplete {
    opacity: .9;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    color: black;
}
a.ui-state-focus {
    background-color: grey;
}
ui-autocomplete-input{
    border-radius: 15px 70px 15px 70px;
    background-color: red;
}






/* for the footer */
footer.plein {
    position: fixed;
    right: 5%;
    z-index: -1;
    text-align: center;
    bottom: 0;
    width: auto;
    padding: 3px 7px;
    border: 1px solid #a4a9a4;
    border-radius: 15px 15px 0 0;
    background-color: #bdbcbe;
}
footer.plein span {
    color: #E74C3C;
    font-style: normal;
}
