{% extends "layout.html" %}

{% block h2 %}[youps] BUG détecté !{% endblock %}
{% block content %}
  
  <p>le <b>problème</b> de coder ses trucs à la main, c'est qu'on réinvente l'eau chaude, et qu'on se refarcie tous les problèmes de l'Histoire.</p>
  <p>l'<b>avantage</b> néanmoins, c'est que c'est rigolo ; et ça occupe.</p>
  <p>on (les co-petits cro-développeurs croissants de la CCC) a été notifiés du souci, tu peux passer ton chemin ! ;-)</p>
  <p>(remarque : si tu avais déjà vu cette page (au même endroit) et qu'on a toujours rien fait, tu devrais peut-être nous contacter pour qu'on se bouge un peu plus.)
{% endblock %}