<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }}</title>
        <meta charset='UTF-8'>
        <link rel="shortcut icon" href="/static/pic/favicon.ico">
        <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        {% block script %}{% endblock %}
    </head>
    <body>
    <div id="background"></div>
    <div class="main">
        {# {% if not g.user.is_anonymous() %} #}
        {% if g.user.is_authenticated %}
            <div class='navbar navbar-fixed-top'>
                    <b>
                        <a href="{{ url_for('getUser', email=g.user.email) }}">
                            <em class="glyphicon glyphicon-user"></em>
                        </a>
                            {% if g.user.firstname %}{{ g.user.firstname }}
                            {% else %}{{ g.user.email }}
                            {% endif %}
                    <a href="{{ url_for('logout') }}" class="glyphicon glyphicon-log-out"></a>
                    </b>
            </div>
        {% endif %}

        <div class="container contenu">
            <div class="row col-md-10 menu-group">
                <div class="col-md-2"></div>

                <div class="col-md-9 menu">
                    {% include 'menu.html' %}
                </div>
            </div>

            <div class="col-md-10 content">
                <div class="page-header">
                    <h2>{% block h2 %}{% endblock %}</h2>
                    <h5><i>{% block h5 %}{% endblock %}<i></h5>
                    <div class="btn-group btn-group-sm">
                        {% block submenu %}{% endblock %}
                    <!--
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-align-left"></em> Left
                        </button>
                    -->
                    </div>
                </div>

                <div class="col-md-11">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    <footer class="plein">
        codé avec <span>❤</span> pour {{ app_name }} <em class="glyphicon glyphicon-flag"></em> <a href="http://baptabl.fr/">Batoo</a>, 2015.
    </footer>
    
    </body>
</html>
