                    <h1>
                        <span class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                            <em class="glyphicon glyphicon-menu-hamburger"></em>
                            menu
                            <em class="glyphicon glyphicon-pushpin"></em>
                        </span>
                        <a href="{{ url_for('index') }}">{{ app_name }}</a>
                    </h1>

                    <nav class="nav-collapse {% if not menu_not_collapsed %}collapse{% endif %}">
                    <div class="menu-background">
                        <pre id='panda'>

                                                       //////////      
                                                      /////////////
                                                    /////////////// 
                                                    //////////////  @@         ///////
                                                       //////////  @@@@@@@   ////////// 
                                                 @@@@@           @@@@@@@@@@@    ////////
                                            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    /////        
                                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ///             ::: 
                                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                 :::::  
                                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@               ::::::
                                 @@@@@@@@@@@@@@@@@@@@@@@@@  //////  @@@@@@@@      @@              :::::::
                              @@@@@@@@@@@@@@@@@@@@@@@@   //////////// @@@  /////////             :::::::: 
                           @@@@@@@@@@@@@@@@@@@@@@@@@   //////////  // @@  ///// ////             ::::::::  
                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@  //////////  /// @   ////  /////            :::::::::
                       @@@@@@@@@@@@@@@@@@   @@@@@@@   /////////////// @@  ///  //////            :::::::::
                     @@@@@@@@@@@@@@@@@@@@   @@@@@@@   //////////////  @@@  //////////            :::::::::
                    @@@@@@@@@@@@@@@@@@@@@@   @@@@@@@  /////////////@@@@@@@   ///////              ::::::::
                   /   @@@@@@@@@@@@@@@@@@@@   @@@@@@@@   /////// @@@@@@@@@@@@@@@@@@@              :::::::: @@@@
                 /////  @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@@@@@      @@@@@@                ::::::@@@@
                 ////////    @@@@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@@@@@@  $$$$$ @@@@                  ::@@@@
               ///////////////    @@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   @@@@@                    @@@
              ////////////////////         @@@@@@@       @@@@@@@@@@@@@                            @@@ 
             /////////////////                                                                  @::::::::
            ////////////////     /////////   /////////////////////////////  :                 @@@:::::::::::::
           ////////////////   ///////////////   ////////////////////////// :               @@@@ :::::::::::::::::::::
          ////////////////   //////////////////   /////////////////////// :  :: :         @@@       ::::::::::::::::::::
          ///////////////    ////////////////////  //////////////////////    ::: ///     @@                   :::::::::
          //////////////   ///////////////////////   ///////////////////  /  :::  ////   @ 
         ///////////////   ////////////////////////   //////////////////  /  ::::  //  / 
       @@@@                ///////////////////////////              @@@  ////  ::    /////
       @@@@@@@@@@@@@@@@@    ////////////////////////////     @@@@@@@@@@  /////       /////    
       @@@@@@@@@@@@@@@@@     ///////////////////////////////                //   @@@  ////
      @@@@@@@@@@@@@@@@@@@@    /////////////////////////////////////////   @    @@@  //////
      @@@@@@@@@@@@@@@@@@@@@    /////////////////////////////////////////  @@    @   //////
     @@@@@@@@@@@@@@@@@@@@@@@@     //////////////////////////////////////     @@   ////////   
     @@@@@@@@@@@@@@@@@@@@@@@@@       //////////////////////////////////         ///// 
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@       ////////////////////////////                  
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@             ///////////             /////
     @@@@@@@@@@@@@@@                  @@@@@@                      @@@@@@@  /////////
      @@@@@@@@@@@       //////////      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ////////////
      @@@@@@@@    //////////////////////    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  ///////////////
      @@@@@@@    //////////////////////////    @@@@@@@@@@@@@@@@@@@@@@@@@@@  /////////////////
       @@@@    ///////////////////////////////    @@@@@@@@@@@@@@@@@@@@@@@@ ////////////////////
       @@@    ////////////////////////////////////     @@@@@@@@@@@@@@@@@@@ /////////   //////////
       @@@   ///////////////////////////////////////       @@@@@@@@@@@@@@  //   /  @@@@ /  //////   
        @@   ////////////////////////////////////////////       @@@@@@@@     @@@ /     /// //////  
             ///////////////////////////////////////////////////  @@@@@     @@@@ //   //// //////      
              ////////////////////////////////////////////  /////  @@@   : @@@   @@@  //// /////
               //////////////////////////////////////////// ////       :::   @@@    /////  /// 
                /////////////////////////////////////////// ////      :::::: @@@  //////  /       
                   ///////////////////////////////////////  ////            :   /////
                      ///////////////////////////////////   /// 
                           ////////////////////////////// 
                        </pre>

                        <div class="menu-list">
                        {% if g.user.email %}
                            <ul>
                                <a href="{{ url_for('thewall') }}"><li>Mur principal</li></a>
                                {#
                                <a href="{{ url_for('calendrier') }}"><li>Calendrier</li></a>
                                #}
                                <a href="{{ url_for('getUser', email=g.user.email) }}"><li>Mon profil</li></a>
                                <a href="{{ url_for('comptes', spends_page=session['spends_page']) }}"><li>Comptes</li></a>
                                <a href="{{ url_for('getUsers') }}"><li>Tous les profils</li></a>
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                    </nav>